# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
jspm_packages/
bower_components

# testing
/coverage
.nyc_output
*.lcov

# build outputs
/.next/
out/
build/
dist/

# logs & reports
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# misc
.DS_Store
*.pem
*.tgz
.cache
.parcel-cache
.temp
.tern-port
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# environment variables
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel

# other build tools
.nuxt
.vuepress/dist
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.vscode-test

# cache files
.npm
.eslintcache
.stylelintcache
.yarn-integrity
.web_modules/
.vitepress/cache
.vitepress/dist

# optional
public/